<a href=/brown/newpost>관리페이지로 </a><br>
<a href=/brown/post_list>포스트삭제페이지로</a>
<br><br><hr>

<% @hashs.each do |hash| %>
<h5><%=hash.id%>//#<%=hash.hash_content%>// 관련된 Post_id  <%= hash.posthashrels.pluck(:post_id).inspect %><a href="/brown/hash_list/<%=hash.id%>" onclick="return confirm('Are you sure?')">삭제</a>
</h5>
<hr>
<% end %>
