<!--탑 네비게이션 -->
<%= render :partial => "/brown/top_nav" %>


<!--관련 해시태그 추천-->
    <div class="Module SearchGuidesBar" data-component-type="47" >
        <div class="guidesWrapper centeredWithinWrapper">
            <div class="guidesSlider">
                <ul class="guidesContainer" style="width: 250px;">
                    <li>
                        <a class="guideContainer" title="...">  
                            <div class="guideImgMask"></div>
                            <img src="http://www.carpentersedge.com/store/image/cache/data/laminate/INDIGO-700x700.jpg" class="guideImg" style="background-color:#a88870;" alt="...">
    
                            <span class="guideText">해시태그</span>
                        </a>
                    </li>
                    <li>
                        <a class="guideContainer" title="...">
                            <div class="guideImgMask"></div>
                            <img src="http://www.carpentersedge.com/store/image/cache/data/laminate/INDIGO-700x700.jpg" class="guideImg" style="background-color:#a88870;" alt="...">
                            
                            <span class="guideText">추천하기</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <a unselectable="on" class="navigator left" style="display: inline;">
                <em></em>
            </a>
            <a unselectable="on" class="navigator right" style="display: inline;">
                <em></em>
            </a>
        </div>
    </div>
    
    
    
    <!--관련 해시태그 추천 끝-->
    

<div id = "whole-body" >
    <!--카테고리로 선택 바-->
    <div class="Module SearchScopeBar">
    
        <div class="centeredWithinWrapper">
            <a class="Button Module NavigateButton btn hasText leftRounded navScopeBtn " data-force-refresh="1" href="#" type="button">            
                <span class="buttonText">전체</span>
            </a>
            <a class="Button Module NavigateButton btn hasText navScopeBtn" data-force-refresh="1" href="#" type="button">            
                <span class="buttonText">인턴</span>
            </a>
            <a class="Button Module NavigateButton btn hasText navScopeBtn" data-force-refresh="1" href="#" type="button">            
                <span class="buttonText">공모전</span>
            </a>
            <a class="Button Module NavigateButton btn hasText navScopeBtn" data-force-refresh="1" href="#" type="button">            
                <span class="buttonText">대외활동</span>
            </a>
            <a class="Button Module NavigateButton btn hasText rightRounded navScopeBtn" data-force-refresh="1" href="#" type="button">            
                <span class="buttonText">강연</span>
            </a>
        </div>
    </div>
    <!-- 카테고리 선택 끝-->
    
<!--바디-->
<div id="whole-body">
    <div id= "whole-body-contents">

        <!--컨텐츠 -->

    </div> <!--whole-body-contents 끝-->
</div> <!--whole-body 끝 -->

<!--fotter-->
<%= render :partial => "/brown/footer" %>    
     
     
<!--자바스크립트 -->
 
