<%= render :partial => "/brown/top_nav" %>

<style>
div.modal-backdrop.in {
  z-index:-1;
 height:100%!important;   
}
</style>



<!-- login modal content-->
<%= render partial: "/brown/login_modal"%>


<!--login end-->
<!--바디-->
<div id="whole-body">
    <div id= "whole-body-contents">
        <div id="hash_input" class="container-fluid" style="padding-top:2%;">
            <div class="row">
                <div class="col-md-4"> 
                    <div class="col-xs-12" style="">
                       망고야 
                    </div>
                    <div class="col-xs-12">
                        멜론이 나올거야
                    </div>
                
                </div>
                <div class="col-md-8">
                     <div class="col-xs-12">
                         여기다가 해시태그 후보들 넣어줘야지
                     </div>
                </div>
            </div>
            
        </div>
        
        
    </div> <!--whole-body-contents 끝-->
</div> <!--whole-body 끝 -->

<!--fotter-->
<%= render :partial => "/brown/footer" %>
     
