
/*바디 */



/*색 팔레트 */
.blue {
    background-color: rgba(37,175,251,1);
}

.font-blue {
    color: rgba(37,175,251,1);
}

.green {
    background-color: rgb(65,180,123);
}

.font-green {
    color: rgb(65,180,123);
}

.yellow {
    background-color: rgb(255,204,41);
}

.font-yellow {
    color: rgb(255,204,41);
}

.font-white {
    color: #fff;
}

.light-grey {
    background-color :rgb(237,239,241);
}

.dark-grey {
    background-color : rgb(228,230,234);
}

.font-light-black {
    color: rgb(30,71,101);
}

.font-bright-black {
    color: rgb(96,96,100);
}



/*위치 관련*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.ellipsis { /*말줄임표*/
    width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    word-wrap: normal !important;
    display: block;
}



.same-row {
    display:inline-block;
}



/*버튼 관련 */
.hash-button-small {
   background-color:rgba(106,106,110,0.7);
    border-radius:20px;
    padding-left :8px ;
    padding-right :8px ;
    padding-top :4px ;
    padding-bottom :4px ;
    margin-left:2px;
    
    margin-right:2px;
    /*border:solid 1px black;*/
    color:white!important;
    text-decoration:none!important;
    cursor:pointer;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.hash-button-small:hover {
   background-color:rgba(106,106,110,1);
}


.hash-button-small-mango {
    background-color:rgba(255,204,41,0.7);
    border-radius:20px;
    padding-left :8px ;
    padding-right :8px ;
    padding-top :4px ;
    padding-bottom :4px ;
    margin-left:2px;
    margin-right:2px;
    /*border:solid 1px #FFCC29;*/
    color:rgb(78,77,81)!important;
    text-decoration:none!important;
    font-weight:500;
    cursor:pointer;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.hash-button-small-mango:hover {
    background-color:rgba(255,204,41,1);
}


.hash-button-small-melon {
    border-radius:20px;
    padding-left :8px ;
    padding-right :8px ;
    padding-top :4px ;
    padding-bottom :4px ;
    margin-left:2px;
    margin-right:2px;
    border:none;
    color:white!important;
    background-color:rgba(65,180,123,0.7);
    text-decoration:none!important;
    cursor:pointer;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.hash-button-small-melon:hover {
    background-color:rgba(65,180,123,1);
}



.mango-melon-tab {
   
    padding-top:10px;
    padding-bottom: 10px
}

.btn-mango {
    background-image: linear-gradient(to bottom, rgb(255,204,41) 0,rgb(255,204,41) 100%);
    text-shadow: none;

}

.btn-melon {
    background-image: linear-gradient(to bottom, rgb(65,180,123) 0, rgb(65,180,123) 100%);
    text-shadow: none;
    color:white;
}

/*로그인 모달 */
.modal-dialog {
    
}

#loginmodalcontent {
    width: 800px;
    height: 533px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -380px;
    margin-top: 15vh;
    text-align: center;
    
    border-radius: 6px;    
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background:url(/assets/login_modal.jpg) ; 
    -webkit-background-size: cover;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-repeat:no-repeat;
background-size:contain;
background-position:center;
}

#loginmodalbody {
    padding:0px;
    height:533px;
}

#loginmodaltop {
    height:390px;
}

.modal-logo {
    margin-top:50px;
    height:30%
}

.modal-logo-pic{
    width:100px;
    padding-bottom:15px;
}

.modal-logo-text{
    height:60%; 
    margin-top:-15px
}

.modal-text1{
        color:rgb(86,86,90);
        font-size:16px;
    }
    
.modal-text-text{
    color:rgb(65,180,123);
    font-weight:700;
}


.modal-bottom {
    height:123px;
    padding-bottom:25px;
    margin-bottom:50px;
}

@media only screen and (max-width: 767px) {
    #loginmodalcontent {
    width: 90vw;
    height: 80vh;
    position: relative;
    left:3vw;
    top:5%;
    margin-left:0px;
    margin-top:5vh;
    text-align: center;
    
    border-radius: 6px;    
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background:url(/assets/login_modal.jpg);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    }
    
    #loginmodalbody {
        width:100%;
        height:100%;
    }
    
    #loginmodaltop {
        height:70%;
    }
    
    .modal-logo{
        height:30%;
        padding-top:5%;
    }
    
    .modal-logo-pic {
        width:70px;
    }
    
    .modal-logo-text{
        height:80%;
        
    }
    
    .modal-text{
        padding-top:5%;
    }
    
    .modal-text1{
        color:white;
        font-size:16px;
    }
    
    
    
    .modal-text-text{
        color:rgb(255,204,41);
    }
    
}
    






/*네비 */

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


.nav-container {
		   width:960px;
		}


.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color:rgb(65,180,123);
    padding-left:0px;
}

.container-fluid .navbar-header {
    background-color:rgb(65,180,123);
    width:660px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-form {
    display:inline-block;
    border: 0px;
    padding-top:2px; 
    padding-bottom:2px;
    padding-left:0px;
    padding-right:0px;
    width:310px;
    margin-left:100px;
    
}


.form-group .form-control {
    
    width:250px;
    height:32px;
    display:inline-block;
}
  
.hash-button {
		  width:32px; 
		  height:32px; 
		  padding:0px; 
		  display:inline-block
		}


.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-home {
		    display:none;
		}
    
    
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
    
    #small-menu {
        display:none;
    }
    
    #introduction {
			display: block;
		}
		
	.navbar-right {
    float: right!important;
}
    
}

@media only screen and (max-width: 767px) {
		#introduction {
			display: none;
		}
		
		#mainNav {
		    width:100vw;
		}
		
		
		
		.nav-container {
		    padding-left:0px;
		    width:100%;
		    margin:0px;
		    padding:0px;
		}
		
		.container-fluid .navbar-header {
            background-color:rgb(65,180,123);
            width:100%;
            margin:0px;
        }
		
		.navbar-header {
		    width:100vw;
            margin-left: 0px;
		}
		
		.navbar-form {
            display:inline-block;
            border: 0px;
            padding-top:0px; 
            padding-bottom:0px;
            padding-right:0px;
            padding-left:0px;
            height:32px;
            width:74%;
            margin-left:auto;
            margin-right:auto;
        }
		
        .navbar-form .form-group {
            width:100%;
            display:inline-block;
            margin-bottom:0px;
            border:none;
        }
        
        #small-input { 
            width:100%;
            padding-left:8px;
            padding-right:8px;
        }
        
        #small-menu {
            padding-left:6px;
        }
        
        .navbar-nav {
            color:white;
            text-align:center;
        }
        
        .nav>li {
            display:inline-block;
            margin-left:5px;
            margin-right:5px;
        }
		
		.hash-button {
		    display:none;
		}
		
		
		footer {
		    padding:0px;
		}
		
		.navbar-default .navbar-header .navbar-brand {
		    display: none;
		}
		
		.navbar-toggle {
		    margin-right:5px;
		    display:inline-block;
		    padding-top:8px;
		    padding-bottom:8px;
		    width:32px;
		    text-align:center;
		    border:none;
		    
		}
		
		.navbar-toggle .icon-bar {
		    width:15px;
		}

}

 /*이전놈인데 있어야 흰색 안뜨고 호버 됨  */

/*#wrapper {*/
/*    padding-left: 0;*/
/*    -webkit-transition: all 0.5s ease;*/
/*    -moz-transition: all 0.5s ease;*/
/*    -o-transition: all 0.5s ease;*/
/*    transition: all 0.5s ease;*/
/*}*/

/*#wrapper.toggled {*/
/*    padding-left: 250px;*/
/*}*/

/*#sidebar-wrapper {*/
/*    z-index: 1000;*/
/*    position: fixed;*/
/*    left: 250px;*/
/*    width: 0;*/
/*    height: 100%;*/
/*    margin-left: -250px;*/
/*    overflow-y: auto;*/
/*    background: #000;*/
/*    -webkit-transition: all 0.5s ease;*/
/*    -moz-transition: all 0.5s ease;*/
/*    -o-transition: all 0.5s ease;*/
/*    transition: all 0.5s ease;*/
/*}*/

/*#wrapper.toggled #sidebar-wrapper {*/
/*    width: 250px;*/
/*}*/

/*#page-content-wrapper {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    padding: 15px;*/
/*}*/

/*#wrapper.toggled #page-content-wrapper {*/
/*    position: absolute;*/
/*    margin-left: -250px;*/
/*}*/

 /*Sidebar Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 8px;  
  z-index: 999;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 2%;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: inline-block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -1px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 2;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 2;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display:none;
    }
}

/*바디 */

#whole-body {
    background-color: rgb(237,239,241);
}

#whole-body-contents {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    padding-bottom:2vh;
}

@media(max-width:767px) {
    
    #whole-contents {
        padding-left:3vw;
        padding-right:3vw;
        
    }
    
    #whole-body-contents {
        padding-left:5vw;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        padding-right:5vw;
    }
    }



    /*광고판*/
    
    
    #advertise {
        display:block;
    }
    
    .carousel-caption {
        text-align:center;
        text-shadow: none;
        color:rgb(65,180,123);;
    }
    
    .carousel-indicators .active {
        background-color: rgb(65,180,123);
    }
    
    .carousel-backgrond {
       height:500px;
    }
    
    .carousel-control, .carousel-control:hover  {
        background-image:none !important;
        filter:none !important;

    }
    

    
    .carousel-inner>.item>img {
        height:300px;
    }
    
    /*우측 로그인 */
    #login-dp{
    min-height: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    text-align:center;
    }
    #login-dp .help-block{
        font-size:12px    
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        
        clear:both;
        padding:14px;
    }
    #login-dp .social-buttons{
        margin:12px 0    
    }
    #login-dp .social-buttons a{
        width: 49%;
    }
    #login-dp .form-group {
        margin-bottom: 10px;
    }
    .btn-fb{
        color: #fff;
        background-color:#3b5998;
    }
    .btn-fb:hover{
        color: #fff;
        background-color:#496ebc 
    }
    .btn-google{
        color: #fff;
        background-color:rgba(214,45,32,1);
    }
    .btn-google:hover{
        color: #fff;
        background-color:rgba(214,45,32,0.8)
    }
    
    .btn-tw{
        color: #fff;
        background-color:#55acee;
    }
    .btn-tw:hover{
        color: #fff;
        background-color:#59b5fa;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
    
    /*우측 로그인 후 */
    
    .login-status_icon {
        width: 32%; 
        display:inline-block;
        text-align:center;
    }

   .login-hash-ranking {
    width: 100%;
    height:127px; 
    padding-left: 5px;
    padding-right: 5px;
    display:inline-block;
    text-align:center;
    padding-top:20px;

  
    }
    
    
/*관련 해시태그 추천*/
    .SearchGuidesBar {
        background-color:  rgb(228,230,234);
    }
    
    .SearchGuidesBar .guidesWrapper {
    background-color:  rgb(228,230,234);
    -webkit-box-shadow: 0 1px #f4f4f4;
    box-shadow: 0 1px #f4f4f4;
    height: 85px;
    overflow: hidden;
    position: relative;
    }
    
    .centeredWithinWrapper {
        margin: 0 4% auto;
    }
    
    SearchGuidesBar .guidesWrapper .guidesSlider {
        height: 120px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer {
        height: 85px;
        overflow: hidden;
        padding: 0 7px;
        position: relative;
    }
    
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer li {
        float: left;
        width: 125px;
        margin: 15px 0;
        display: list-item;
    }

    .guidesContainer li {
        list-style: none;
        padding: 0;
    }
    
  
   
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer .guideContainer {
        cursor: pointer;
        min-width: 111px;
    }
    
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer .guideContainer .guideImgMask {
        border-radius: 25px;
        -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.33);
        box-shadow: inset 0 0 2px rgba(255,255,255,0.33);
        height: 55px;
        position: absolute;
        width: 111px;
    }
    
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer .guideContainer .guideImg {
        border-radius: 25px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.7);
        box-shadow: 0 1px 2px rgba(0,0,0,0.7);
        height: 55px;
        min-width: 111px;
    }
    
    img {
        max-width: 100%;
        width: auto;
        height: auto;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    
    /*이미지 내 텍스트*/
    .SearchGuidesBar .guidesWrapper .guidesSlider .guidesContainer .guideContainer .guideText {
        color: #fff;
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        margin-left: -112px;
        text-align: center;
        text-shadow: 0 -1px rgba(0,0,0,0.15);
        vertical-align: middle;
        width: 107px;
        word-wrap: break-word;
    }
    
    /*관련해시태그 네비게이터*/
    SearchGuidesBar .guidesWrapper .navigator.left {
       /* background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(90%,  rgb(228,230,234)));
        background-image: -webkit-linear-gradient(right, transparent 0%,  rgb(228,230,234) 90%);
        background-image: linear-gradient(to left, transparent 0%,  rgb(228,230,234) 90%);*/
        left: 0;
    }
    
    .SearchGuidesBar .guidesWrapper .navigator.right {
       /* background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(90%,  rgb(228,230,234)));
        background-image: -webkit-linear-gradient(left, transparent 0%,  rgb(228,230,234) 90%);
        background-image: linear-gradient(to right, transparent 0%,  rgb(228,230,234) 90%);*/
        right: 0;
        text-align: right;
    }
    
    .SearchGuidesBar .guidesWrapper .navigator {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: none;
        height: 85px;
        position: absolute;
        top: 0; 
        vertical-align: middle;
        width: 185px;
    }
    
    /*카테고리탐색*/
    .SearchScopeBar {
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    .SearchScopeBar .navScopeBtn {
        border-right: 0;
        color: #333;
        font-size: 12px;
        font-weight: 500;
        margin-right: -4px;
        min-width: 115px;
        display: inline-block;
    }
    
    .Button.btn { 
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
        background: -webkit-linear-gradient(#fff, #f0f0f0);
        background: linear-gradient(#fff, #f0f0f0);
        border: 1px solid #ccc;
        color: #5f5f5f;
        cursor: pointer;
        font-weight: bold;
        text-shadow: 0 1px #fff;
        white-space: nowrap;
        background-color: #f0f0f0;
        padding: 7px 13px;
    }
    
    .Button {
        outline: none;
        position: relative;
    }
    
    .SearchScopeBar {
        margin:0px;
        padding-top:10px;
  
    }
    
    .SearchScopeBar .navScopeBtn.rightRounded {
        border-right: 1px solid #ccc;
    }
    
    .SearchScopeBar .leftRounded {
        border-radius: 6px 0 0 6px;
    }
    
    
/*_body_content */

    /*컨텐츠 헤드라인 */
    .contents-headline-block {
        text-align:center; 
        width:50px; 
        border-radius:3px;
        display:inline-block;
        font-size:20px; 
        font-weight:700;
    }
    
    .search-headline-block {
        text-align:center; 
        width:120px; 
        border-radius:3px;
        display:inline-block;
        font-size:20px; 
        font-weight:700; 
    }
    
    /*카테고리 버튼 */
    
    @media(min-width:768px){
    #small-category{
        display:none;
        }
    }
    
    @media(max-width:769px){
        #small-category{
        display:inline-block;
        }
    }
    
    
    
    /*컨텐츠 팩 */
    
    .pack-contents {
        background-color:white;
        border-radius:2px;
        color: rgb(30,71,101);
        text-align:center;
        height:500px;
        padding:10px;
        position: relative;
        margin-bottom:15px;
    }
    
  
    
    .pack-top-area {
        margin-bottom:10px;
        color: rgb(96,95,90);
        height:200px;
    }
    
    .pack-top-area p {
        margin-top:15px;
        margin-bottom:15px;
        font-weight:700;
    }
    
    #pack-img {
        
        height:100px;
    }
    
    .pack-middle-area {
        border-top: solid 1px #222;
        padding-top:10px;
        padding-bottom:5px;
        padding-left:10px;
        padding-right:10px;
     
        height:250px;
    }
    
    .middle-content {
        color: rgb(96,95,90);
        height:160px;
        text-align:left;
        padding-left:10px;
        padding-right:10px;
    }
    
    
    .pack-middle-hash {
        margin-left:auto !important;
        margin-right:auto !important;
        position: absolute;
        text-align:center;
        width:270px;
        bottom:8%;
    }
    
    .pack-bottom-area {
        background-color:rgb(246,250,251);
        padding: 4px;
        margin-top:5px;
        color: rgb(64,64,64);
        text-decoration:none;
        height: 40px;
        width: 100%;
        position: absolute;
        right:0;
        bottom:0;
    }
    
        @media(max-width:767px){
            .pack-middle-hash {
                width:100%;
            }
        }
    
    
    .pack-img {
        c : pink;
        
    }
    
/*마이해시 페이지*/
    
    .hash-add-category {
        padding-left:0px; 
        padding-right:0px; 

    }
    
    .hash-input-group{
     width:180px; 
     margin-left:20px   
    }
    
    .fruit-selected {
        min-height:25%; 
        background-color:white;
        border-radius:5px;
        margin-bottom:15px;
        padding-bottom:15px;
        text-align:center;
    }
    
    .fruit-seleted-hash {
        padding:10px;
    }
    
    #selected {
        display:inline-block;
        margin-bottom:3px;
    }
    
    .fruit-select {
        min-height:400px; 
        background-color:white;
        border-radius:5px;
        margin-bottom:15px;
        padding-bottom:15px;
        text-align:center;
    }

    @media(max-width:767px){
        .hash-add-category {
            padding-left:0px; 
            padding-right:0px; 
            padding-top:10px
        }
        
        .hash-input-group{
            width:295.3px;
            margin-left:0px;
        }
        
        .hash-add-form {
             width:100%;
        }
    }
    



/*푸터 */

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: rgb(65,180,123);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: rgb(255,204,41);
}

